<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}{% if page.title != 'e-gineer' %} | e-gineer{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/v2/presentation/bluescope.css"/>
    <link rel="shortcut icon" href="/v2/presentation/bluescope.ico" type="image/ico"/>
  </head>
  <body>

    <header>
      <a href="/"><img id="logo" src="/v2/presentation/e-gineer-logo-bluescope.png"></a>
      <div id="nav">
        <a href="/v2/blog/">BLOG</a>
        <a href="/nathan/">NATHAN</a>
        <a href="/archive/">ARCHIVE</a>
        <a href="https://twitter.com/nathanwallace"><img src="/v2/presentation/twitter-bird-bluescope.png"></a>
      </div>
    </header>
