<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{{ page.title }}{% if page.url != '/index.html' %} | e-gineer{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/v2/presentation/bluescope/bluescope.css"/>
    <link rel="alternate" type="application/rss+xml" title="e-gineer" href="/v2/blog/rss.xml" />
    <link rel="shortcut icon" href="/v2/presentation/bluescope/bluescope.ico" type="image/ico"/>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-65687-1']);
      _gaq.push(['_setDomainName', 'e-gineer.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <header>
      <a href="/"><img id="logo" src="/v2/presentation/bluescope/e-gineer-logo.png" width="145" height="109" alt="E-GINEER"></a>
      <div id="nav">
        <a href="/v2/blog/">BLOG</a>
        <a href="/nathan/">NATHAN</a>
        <a href="/archive/">ARCHIVE</a>
        <a href="https://twitter.com/nathanwallace"><img src="/v2/presentation/bluescope/twitter-bird.png" width="28" height="25" alt="TWITTER"></a>
      </div>
    </header>
